<!DOCTYPE html>
 <html lang="fr">

 <head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (typeof gameData !== 'undefined' && gameData.cssFile) { %>
    <link rel="stylesheet" href="/css/<%= gameData.cssFile %>">
  <% } %>  
 </head>

 <body>
   <header>
      <h1>
        <a href="/">GameHub</a>
      </h1>
      <nav>
        <ul>
          <% for (const game of myGames) { %>
            <li><a href="/game/<%= game.name %>"><%= game.title %></a></li>
          <% } %>
        </ul>
      </nav>
   </header> 