<%- include('partials/header') %>

<main>
  <h3><a href="/">Retour à l'accueil</a></h3>
  <img
    class="center"
    src="/images/404error.jpeg"
    alt="Une page d'erreur"
  />
</main>

<%- include('partials/footer') %>
